/* view_prescriptions.css */



 .title {
    margin-bottom: 20px;
}

 table {
    width: 100%;
    border-collapse: collapse;
}

 table,  th,  td {
    border: 1px solid #ddd;
}

#assignedTable{
    border: 1px solid #ddd;  
}

 th,  td {
    padding: 12px;
    text-align: left;
}

 th {
    background-color: #4464D4;
    color: #fff;
}

.error-message {
    color: red;
    margin-bottom: 20px;
}

.print-prescription-button{
  padding: 15px 45px;
    height: 50px;
    background-color: #4464D4;
    color: #fff;
    border: none;
}